extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let aircraftid = toShow._id 
    - let aircraft_model = toShow.aircraft_model
    - let aircraft_type = toShow.aircraft_type 
    - let manufacture_year = toShow.manufacture_year 
    - let actionid = "/resource/aircraft/" + aircraftid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='aircraftAttr mr-3') Aircraft ID is: 
        div #{aircraftid} 
      div.row 
        div(class='aircraftAttr mr-3') Aircraft model  is: 
        div #{aircraft_model} 
      div.row 
        div(class='aircraftAttr mr-3') Aircraft type  is: 
        div #{aircraft_type} 
      div.row 
        div(class='aircraftAttr mr-3') manufacture year  is: 
        div #{manufacture_year} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/aircraft' 
    } 
  script.

    function deleteOnid() {

      console.log("starting delete")

      // delete first

      // Don't need a body for the delete

      fetch(actionid, {

        method: 'DELETE'      

      }).then((resp) => {

        return resp.text(); // or resp.text() or whatever the server sends

      }).then((body) => {

        alert("Delete succeded")

        window.location.href='/aircraft'

        // TODO handle body

      }).catch((error) => {

        // TODO handle error

        alert("Delete failed " + error )

      });

    }