extends layout

block content
  h1= title
  .container-fluid
    .row
      - for (let aircraft of results)
        .col-sm-2
          h2= aircraft.aircraft_model
          p Aircraft Type: #{aircraft.aircraft_type}
          p Aircraft Model: #{aircraft.aircraft_model}
          p Manufacture Year: #{aircraft.manufacture_year}
    br

    h5= 'buy'

  div(class="container-fluid")
    each aircraft,index in results
      div(class="row", onclick=`buy(${index})`)
        div(class="col-sm-2") <br>aircraft #{index}: #{aircraft.aircraft_type} model:#{aircraft.aircraft_model} year:#{aircraft.manufacture_year}
  script.
        function buy(price){
          alert('You purchased item ' + price)
        }